.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--space-16) var(--space-4);
    gap: var(--space-6);
    /* Espacio entre los elementos */
}

.title {
    font-size: var(--font-size-4xl);
    font-weight: var(--font-weight-bold);
    max-width: 600px;
}

.subtitle {
    font-size: var(--font-size-xl);
    color: var(--text-secondary);
    max-width: 550px;
}